.contact {
  &__main {
    background: var(--gradient-btn);
    background-size: 400%;
    animation: bg-animation 5s infinite;
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    @include media-breakpoint-down(md) {
      font-size: 1.6rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media-breakpoint-down(md) {
      font-size: 0.9rem;
    }
  }

  &__input {
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.9rem;
    flex: 2;
    max-width: 600px;
    @include media-breakpoint-down(sm) {
      width: 80%;
      margin-bottom: 10px;
    }

    &::placeholder {
      color: $color-lightgrey;
    }
  }
}
