.features {
  &__container {
    height: 20rem;
    margin-bottom: 100px;
  }

  &__subtitle {
    color: $color-dark;
    font-size: 1rem;
    margin: 0 1rem;
  }

  &__text {
    text-align: center;
  }

  // features carousel buttons
  &__button {
    .carousel-indicators &[data-bs-target] {
      width: 180px;
      height: 2px;
      background-color: $color-grey;
      margin: 0 10px;
      &.active {
        height: 3px;
        background-color: $color-blue;
      }
    }
  }
}
