$color-secondary: #fb5958;
$color-primary: #5168df;
$color-primary-dark: darken($color-primary, 3%);

:root {
  --color-darkmode: #fff;
  --color-darkmode-light: #fff;
  --color-darkmode-lite: #fff; //color for body bg color
  --color-dark: #333; //color for paragraph
  --color-grey: #777;
  --color-lightgrey: #bbb;
  --color-black: #000;

  --color-primary: #5168df;
  --color-secondary: #fb5958;

  --gradient-btn: linear-gradient(
    60deg,
    rgba(111, 133, 247, 1) 0%,
    rgba(81, 104, 223, 1) 28%,
    rgba(81, 104, 223, 1) 74%,
    rgba(70, 93, 209, 1) 100%
  );
  --gradient-shape: linear-gradient(
    270deg,
    #{$color-primary} 35%,
    #{$color-primary-dark} 100%
  );
}

body {
  // prepared for image in background of body
  //   background-image: url("/src/images/");
  background-color: var(--color-darkmode);
  background-blend-mode: screen;
  transition: all ease-in-out 0.3s;
}
.container-fluid {
  padding: 0;
}

.padding-left {
  padding-left: 6rem;

  @include media-breakpoint-down(xl) {
    padding-left: 4rem;
  }
}
