body {
  // prepared for image in background of body
  //   background-image: url("/src/images/");
  background-color: rgba($color: #fff, $alpha: 0.9);
  background-blend-mode: screen;
}
.container-fluid {
  padding: 0;
}

.padding-left {
  padding-left: 6rem;

  @include media-breakpoint-down(xl) {
    padding-left: 4rem;
  }
}
